:root {
	--columns: 1;
}

.GifGrid {
	width: 100%;
	min-height: 500px;
	overflow: hidden;
}

.GifGrid-list {
	display: grid;
	grid-gap: 0.8em;
	grid-template-columns: repeat(var(--columns), 1fr);
	align-items: center;
}

	@media screen and (min-width: 48rem) {
		:root {
			--columns: 3;
		}
	}

	@media screen and (min-width: 64rem) {
		:root {
			--columns: 4;
		}
	}