:root {
	--main-bg: #282c34;
	--primary: #86c835;
	--secondary: white;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	font-family: 'Balsamiq Sans', cursive;
  font-size: 1em;
	color: var(--secondary);
	background-color: var(--main-bg);
}

.App-wrapper {
  display: flex;
  flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.App-content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px 80px 30px;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	font-size: 1.2em;
	color: var(--primary);
	font-weight: 600;
	text-decoration: none;
}

	a:hover { text-decoration: underline; }



.a-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 200px;
	height: 50px;
	padding: 10px;
	border: none;
	background-color: var(--primary);
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1em;
	color: black;
	font-weight: 600;
	cursor: pointer;
}
